a{
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
body{
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
.books{
    border-radius: 50%;
    width: 25%;
    margin-left: 30px;
    float: right;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom:400px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 20px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #FFFFFF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #2BC4AD 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -webkit-gradient(to bottom, #30E3CB, #3D94F6);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }
.computer{
    border-radius: 50%;
    width: 25%;
    margin-right: 30px;
    float: left;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 0;
}
.end{
    width: 40%;
    margin: 40px auto 60px;
}
h1{
    font-size: 4.375rem;
    margin: 50px auto 0px auto;
    font-family: "Sacramento", cursive;
    color: #66BFBF;
    line-height: 1.5;
}
h2{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    color: #66BFBF;
    padding-bottom: 10px;
    padding-top: 10px;
}
h3{
    color: #11999E;
}
hr{
    border-style: none;
    border-top: dotted;
    border-color: silver;
    border-width: 7px;
    width: 5%;
    margin: 100px auto;
}
.intro{
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
}
.middle-container{
    margin: 100px 0 50px;
}
p{   
    line-height: 2;
}
.pro{
    text-decoration: underline;
}
.skill-row{
    width: 50%;
    margin: 50px auto;
    text-align: left;
}
.subtitle{
    font-weight: normal;
}
.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding: 100px;  
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}